<article>
    <section class="account">
        <h1>Welcome User</h1>
    </section>
    <section class="cart">
        <article class="cart-list">
            <div class="cart-item">
                <a href=""><img src="https://fakeimg.pl/400x400?text=item" alt=""></a>

            
                <form action="">

                    
                </form>
            </div>
            
            
        </article>
        <aside class="cart-billing">
            hello
        </aside>
    </section>
</article>