<article>
    <section class="collection-banner">
        <img src="https://fakeimg.pl/1920x500?text=collection" alt="">
    </section>

    <section class="collection">
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
    </section>
</article>