<article>
    <section class="home-banner">
        <img src="https://fakeimg.pl/1920x810?text=banner" alt="">
    </section>

    <section class="collection-list">
        <% for (collection in collections) { %>
            <div class="collection-item">
                <!-- <a href="/collections"><img src="https://fakeimg.pl/400x400?text=collection" alt=""><%=collection%></a> -->
                <a href="/collections/<%=collections[collection].collection_name%>"><img src="<$=collections[collection].image_url>" alt=""></a>
            </div>
        <% } %>





        </div>
    </section>
</article>