<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <a href="/">brand</a>
        </div>

        <nav>
            <a href="/">1</a>
            <a href="/">2</a>
            <a href="/">3</a>
        </nav>

        <div>
            <a href="/login">login</a>
            <a href="/cart">cart</a>
        </div>
    </header>

    <%- body%>

    <footer>
        <div>
            <section class="socials">
                <a href="">git</a>
                <a href="">IG</a>
                <a href="">LinkedIn</a>
            </section>
            <span>&copy;2024 AlliGrassIndustries</span>
        </div>

        <div>
            <a href="">Shipping</a>
            <a href="">Policies</a>
            <a href="">Terms and Conditions</a>
        </div>
    </footer>
</body>
</html>