<article>
    <section class="account">
        <h1>Current Collection</h1>
        <p>would you like to edit the collection itself?</p>
    </section>
    <section class="collection">
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=item" alt=""></a>
        </div>
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=item" alt=""></a>
        </div>
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=item" alt=""></a>
        </div>
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=item" alt=""></a>
        </div>
        <div class="collection-item">
            <a href=""><img src="https://fakeimg.pl/400x400?text=item" alt=""></a>
        </div>
    </section>
</article>