<article>
    <section class="account">
        <h1>Welcome Admin</h1>
    </section>
   <section class="collection-list">
        <div class="collection">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
        <div class="collection">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
        <div class="collection">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
        <div class="collection">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
        <div class="collection">
            <a href=""><img src="https://fakeimg.pl/400x400?text=collection" alt=""></a>
        </div>
   </section>
</article>