
img {
    width: 100%;
    display: block;
}

header, footer {
    background-color: black;
    display: grid;
    padding: 30px;
    justify-content: space-between;
}

header {
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    grid-template-columns: 1fr 1fr;

}

.footer-right {
    justify-self: right;
}

header a, footer a, footer span {
    color:  aliceblue;
    padding: 10px;
}

header a:hover, footer a:hover {
    color: darkgray;
}

.navbar {
    justify-self: center;
}

.header-right {
    justify-self: right;
}

.header-column img {
    display: flex;
    justify-content: space-between;
    width: 70px;
}


/* general */

article {
    background-color: antiquewhite;
}

.collection-list, .collection{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

/* home page */

.home-banner img {
    display: block;
}


.home-collection {
    padding: 15px;
}


/* collection list page  */

.collection-item {
    padding: 15px;
}

/* cart page */

.cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    background-color: lavender;

}

.cart-item{
    display: flex
}

.cart-list * {
    border: solid 1px black;
}

.cart-item a {
    padding: 5px;
}

.cart-item a img {
    width: 100%;
}

.cart-item form {
    width: 90%;
}

/* admin pages */


/* login popup */

.login-article {
    display: contents;
}


.login-popup-box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    width: 30%;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for box size */
    z-index: 1000; /* Ensure it appears on top */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.user-management {
    display: grid;
    justify-content: center;
}

.login-popup-box * {
    margin: 10px;
}

.popup-background-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Ensure it's behind the popup */
    display: none;
}

.user-management-btn {
    justify-self: center;
}

.close-popup-btn {
    border: none;
    background: none;
    font-size: larger;
    position: absolute;
    margin: 15px;
    top: 0;
    right: 0;
}

.close-popup-btn:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15%;
}
